# Sample Playbook
# we wait for Nodes node1 and node2
WAITFOR node1 ALIVE
WAITFOR node2 ALIVE
# now we start iperf3 on node1 in Server mode
# and on node2 in client mode for 5 secs
SEND node1 START SERVER 5201
SEND node2 START 127.0.0.1 5201 15 3
WAIT 7
# now we stop the tasks on both nodes
SEND node2 STOP
WAITFOR node2 STOPPED
SEND node1 STOP
WAITFOR node1 STOPPED
# let's instruct node1 to send us a file
RECEIVE 6000 test.txt
SEND node1 SENDFILE /tmp/iperf.5201.log 127.0.0.1 6000 TRUNCATE
WAIT 2
# and let's shut them down
SEND node1 TERMINATE
SEND node2 TERMINATE
WAITFOR node1 TERMINATED
WAITFOR node2 TERMINATED
