# WAITFOR node3 ALIVE
WAITFOR node1 ALIVE
WAITFOR node2 ALIVE
SEND node2 START 5201
# SEND node2 START 5202
SEND node1 START 127.0.0.1 5201 2 3
# SEND node3 START 127.0.0.1 5202 5 3
WAIT 4
SEND node2 STOP
WAITFOR node2 STOPPED
RECEIVE 6000 test.txt
SEND node2 SENDFILE /tmp/mqttnode2.tmp 192.168.139.239 6000 NOTRUNCATE
WAIT 2
SEND node1 TERMINATE
SEND node2 TERMINATE
# SEND node3 TERMINATE
WAITFOR node2 TERMINATED
WAITFOR node1 TERMINATED
# WAITFOR node3 TERMINATED
